<!DOCTYPE html>
<html>
  <head>
    <title>Blog Dev Home</title>
    <%= stylesheet_link_tag "index" %>
    <%= stylesheet_link_tag "user" %>
  </head>

  <body>
    <ul class="column no-style list-post">
      <% @users.each do |user| %>
        <li class="row wrap max-width">
          <%= render partial: "shared/user", locals: { user: user } %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
