<!DOCTYPE html>
<html>
  <head>
    <title>Blog Dev Home</title>
    <%= stylesheet_link_tag "index" %>
    <%= stylesheet_link_tag "user" %>
  </head>

  <body>
    <ul class="column no-style list-post">
      <li class="row wrap post borded">
        <img src="Image" alt="Bloc Image" />
        <div class="column post-description">
          <h2>User Name</h2>
          <p class="number-post">Number of post: x</p>
        </div>
      </li>
      <li class="row wrap post borded">
        <img src="Image" alt="Bloc Image" />
        <div class="column post-description">
          <h2>User Name</h2>
          <p class="number-post">Number of post: x</p>
        </div>
      </li>
      <li class="row wrap post borded">
        <img src="Image" alt="Bloc Image" />
        <div class="column post-description">
          <h2>User Name</h2>
          <p class="number-post">Number of post: x</p>
        </div>
      </li>
      <li class="row wrap post borded">
        <img src="Image" alt="Bloc Image" />
        <div class="column post-description">
          <h2>User Name</h2>
          <p class="number-post">Number of post: x</p>
        </div>
      </li>
    </ul>
  </body>
</html>
