<!DOCTYPE html>
<html>
  <head>
    <title>Blog Dev Home</title>
    <%= stylesheet_link_tag "index" %>
    <%= stylesheet_link_tag "userdetails.css" %>
  </head>

  <body>
    <section class="row wrap borded user-heading">
      <img src="Image" alt="Bloc Image" />
      <div class="column post-description">
        <h2>User Name</h2>
        <p class="number-post">Number of post: x</p>
      </div>
    </section>

    <section class="column borded bio">
      <h2>Bio</h2>
      <p>Lorem de piaso</p>
    </section>

    <section class="flex-center column">
      <ul class="max-width">
        <li class="column borded post">
          <h3>Post #1</h3>
          <p>Lorem</p>
          <div class="row btns-post">
            <p>Comments: X</p>
            <p>Likes: X</p>
          </div>
        </li>
        <li class="column borded post">
          <h3>Post #1</h3>
          <p>Lorem</p>
          <div class="row btns-post">
            <p>Comments: X</p>
            <p>Likes: X</p>
          </div>
        </li>
        <li class="column borded post">
          <h3>Post #1</h3>
          <p>Lorem</p>
          <div class="row btns-post">
            <p>Comments: X</p>
            <p>Likes: X</p>
          </div>
        </li>
      </ul>
      <button class="btn-show-post">See All Posts</button>
    </section>
  </body>
</html>
