<div class="flex-center">
  <p><%= user.name %>: <%= comment.text %></p>
  <% if can? :destroy , comment %>
    <%= form_with model: comment, method: :delete, local: true, 
    url: "/users/#{@post.author.id}/posts/#{@post.id}/comments/#{comment.id}/",
      html: {class: "row flex-end"} do |f| %>
      <%= f.submit "Delete Comment", class: "auto-width" %>
    <% end %>
  <% end %>
</div>