<div class="column borded post">
  <h3>Post #<%= post.id %></h3>
  <p><%= post.text %></p>
  <div class="row btns-post">
    <p>Comments: <%= post.comments_count %></p>
    <p>Likes: <%= post.likes_count %></p>
  </div>
</div>