<div class="row register-buttons">

  <a href="/users/edit"><button>Edit Profile</button></a>
  <a href="/users/sign_in"><button>Login</button></a>
  <a href="/users/sign_up"><button>Sign Up</button></a>
</div>