<div class="row wrap max-width user borded">
  <img src='<%= user.photo %>' alt="Bloc Image" />
  <div class="column user-description">
    <h2 class="user-name"><%= user.name %></h2>
    <p class="number-post">Number of post: <%= user.posts_count %></p>
  </div>
</div>