<div class="row wrap max-width post borded">
  <img src="Image" alt="Bloc Image" />
  <div class="column post-description">
    <h2><%= user.name %></h2>
    <p class="number-post">Number of post: <%= user.posts_count %></p>
  </div>
</div>