<!DOCTYPE html>
<html>
  <head>
    <title>Blog Dev Home</title>
    <%= stylesheet_link_tag "index" %>
    <%= stylesheet_link_tag "post" %>
  </head>

  <body>
    <section class="row wrap borded user-heading">
      <img src="Image" alt="Bloc Image" />
      <div class="column post-description">
        <h2>User Name</h2>
        <p class="number-post">Number of post: x</p>
      </div>
    </section>

    <section class="flex-center column">
      <ul class="max-width list-post">
        <li class="column borded">
          <div class="post">
            <h3>Post #1</h3>
            <p>Lorem</p>
            <div class="row btns-post">
              <p>Comments: X</p>
              <p>Likes: X</p>
            </div>
          </div>
          <ul class="no-style list-comment borded">
            <li>Username: Comment 1</li>
            <li>Username: Comment 2</li>
            <li>Username: Comment 3</li>
            <li>Username: Comment 4</li>
          </ul>
        </li>
        <li class="column borded">
          <div class="post">
            <h3>Post #1</h3>
            <p>Lorem</p>
            <div class="row btns-post">
              <p>Comments: X</p>
              <p>Likes: X</p>
            </div>
          </div>
          <ul class="no-style list-comment borded">
            <li>Username: Comment 1</li>
            <li>Username: Comment 2</li>
            <li>Username: Comment 3</li>
            <li>Username: Comment 4</li>
          </ul>
        </li>
      </ul>
      <button class="btn-show-post">Pagination</button>
    </section>
  </body>
</html>
