<!DOCTYPE html>
<html>
  <head>
    <title>Blog Dev Home</title>
    <%= stylesheet_link_tag "index" %>
    <%= stylesheet_link_tag "post" %>
  </head>

  <body>
    <section class="borded">
      <div class="row wrap post-heading">
        <div class="row wrap post-subheading">
          <h2>Post #1</h2>
          <p>by username</p>
        </div>
        <div class="row btns-post">
          <p>Comments: X</p>
          <p>Likes: X</p>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor orci a elit faucibus, quis consectetur risus euismod. Duis sit amet enim quis nisl rutrum tincidunt ac in est. Donec quis sodales turpis. Integer quis metus lacus. Sed vestibulum tortor at tellus venenatis, ut maximus nibh malesuada. Phasellus ut odio arcu. Pellentesque sollicitudin, lectus non eleifend lobortis, ex sapien ultrices tellus, nec suscipit odio eros id mi. Quisque bibendum eleifend dui eget consequat. Integer consequat nibh quis ante dignissim elementum. Nam quis blandit ex. Sed congue nulla euismod tincidunt lacinia. Nulla facilisi. Vestibulum ac purus ultrices, aliquet urna sed, euismod urna.
      In ac massa nisl. Vivamus interdum, metus vel elementum facilisis, metus nisi sagittis lacus, at molestie tellus erat ac turpis. Nunc suscipit vitae neque nec bibendum. Nullam euismod, elit et pharetra dignissim, augue nibh dignissim purus, at rhoncus sapien lectus vitae quam. Proin bibendum tellus a odio suscipit, id tincidunt lorem eleifend. Sed vulputate risus sed massa maximus, in aliquam mi bibendum. Integer fermentum dui vitae urna facilisis, a luctus nunc pellentesque. Sed quis faucibus velit. Aliquam sed risus lorem.
      <br/> <br/>
      In ac massa nisl. Vivamus interdum, metus vel elementum facilisis, metus nisi sagittis lacus, at molestie tellus erat ac turpis. Nunc suscipit vitae neque nec bibendum. Nullam euismod, elit et pharetra dignissim, augue nibh dignissim purus, at rhoncus sapien lectus vitae quam. Proin bibendum tellus a odio suscipit, id tincidunt lorem eleifend. Sed vulputate risus sed massa maximus, in aliquam mi bibendum. Integer fermentum dui vitae urna facilisis, a luctus nunc pellentesque. Sed quis faucibus velit. Aliquam sed risus lorem. 
      </p>
    
    </section>
    <section class="borded">
      <ul class="no-style max-width">
        <li>Username: Comment 1</li>
        <li>Username: Comment 2</li>
        <li>Username: Comment 3</li>
        <li>Username: Comment 4</li>
        <li>Username: Comment 5</li>
        <li>Username: Comment 6</li>
        <li>Username: Comment 7</li>
        <li>Username: Comment 8</li>
      </ul>
    </section>
  </body>
</html>
