.list-post {
  margin: 24px;
}

.post {
  margin-top: 16px;
  padding: 16px;
  cursor: pointer;
}

img {
  min-width: 100px;
  min-height: 100px;
  background-color: #c37d7d;
}

.post-description {
  display: flex;
  flex: 1;
  position: relative;
  padding: 16px;
  justify-content: center;
  margin-left: 12px;
}

.number-post {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

h2,
h3 {
  font-size: 20px;
}

.btns-post {
  justify-content: flex-end;
}

.user-heading,
.bio {
  padding: 16px;
  margin-top: 24px;
}

.btns-post p {
  margin-left: 8px;
}

.btn-show-post {
  margin-top: 24px;
}
