h2, h3 {
  font-size: 20px;
}

img {
  min-width: 100px;
  min-height: 100px;
  background-color: #c37d7d;
}

.btns-post {
  justify-content: flex-end;
}

.user-heading, .bio {
  padding: 16px;
  margin-top: 24px;
}

.post {
  padding: 16px;
  margin-top: 12px;
}

.btns-post p {
  margin-left: 8px;
}

.btn-show-post {
  margin-top: 24px;
}